{{!-- TODO: add the links of materialize  --}}


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1.0,"/>
		<title>Money Management</title>
		
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      {{!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"/>	 --}}	
		<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
		<link rel="stylesheet" type="text/css" href="/css/animation.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen,projection">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" media="screen,projection">
		<link rel="stylesheet" type="text/css" href="public/js/script.js" media="screen,projection">
		{{!-- <link rel="stylesheet" href="/js/script"> --}}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

		<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.map"></script>
	  <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
   <script>$(document).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
        $(".dropdown-button").dropdown({
            hover: false
        });
    });</script>	
	</head>
	<body>
		{{{ body }}}


	</body>

</HTML>
