<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header #headfix">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LANCEL - Money Management</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="theme" href="/signin">Sign In</a></li>
                <li><a class="theme" href="/signup">Sign Up</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Budgets<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/categories/budgetsCreate">Create Budget</a></li>
                        <li><a href="/budgets/view/setup">View Budget</a></li>
                    </ul>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenditures<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/categories/expendituresCreate">Enter Expenditures</a></li>
                        <li><a href="/expenditures/view/setup">View Expenditures</a></li>
                    </ul>
                <li><a class="theme" href="/graphs/view/setup">Graphs</a></li>
                <li><a class="theme" href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
	<div class = "row">
		<div class = "col-md-10">

			<h1>Money Management Helper</h1>

			<div class = "row">
				<img class = "img-large" src="/assets/img/bank.jpg" alt="image not available">
			</div>
			<div class="row">
				<h2>Enter Expenditures</h2>
			</div>
		</div>
	

	</div>

	<div class="row">
		<form method="POST" action="/expenditures/create?_method=POST" class="button">
		<!-- <form method="POST" action="/budgets/create?_method=POST" class="button" id="budgetCreate"> -->
		<!-- <form id="budgetCreate"> -->
		    <div class="row">
				<div class="col-md-2 col-md-offset-1">
					<strong>Date spent:</strong>
				</div>
				<div class="col-md-2">
					<input type="date" name="date_spent" required>
				</div>
			</div>
		    <div class="row spacer">
		    </div>
		    <div class="row">
		        <div class="col-md-2 col-md-offset-1">
					<strong> Select category: </strong><br><br>
		        </div>
		        <div class="col-md-2">

					<select name="category_id" style="min-width: 180px" required>
						<option selected="selected" disabled="disabled">Choose option</option>
							
						{{#each category}}
							<option value = "{{this.id}}">{{this.description}}</option>
						{{/each}}

					</select>
				</div>
			</div>
		    <div class="row spacer">
		    </div>
			<div class="row">

		        <div class="col-md-2 col-md-offset-1">
					<strong>Amount spent: </strong><br><br>
		        </div>
		        <div class="col-md-2">
		        	<input type="text" name="amt_spent" style="width: 150px"required>

				</div>
		    </div>
		    <div class="row spacer">
		    </div>			
			<div class="row">

		        <div class="col-md-2 col-md-offset-1">
					<strong>Comments: </strong><br><br>
		        </div>
		        <div class="col-md-2">
		        	<input type="text" name="comments" style="width: 150px">

				</div>
		    </div>
		    <div class="row spacer">
		    </div>			
			<div class="row">
				<div class="col-md-10">
					<center><button class="button" type="submit">Submit</button></center>
				</div>

			</div>
	    </form>
	<div>


</div>

