<div class="container">
	<div class = "row">
		<div class = "col-md-10">

			<h1>Money Management Helper</h1>

			<div class = "row">
				<img class = "img-large" src="/assets/img/bank.jpg" alt="image not available">
			</div>
			<div class="row">
				<h2>Expenditures</h2>
			</div>
		</div>
	

	</div>

{{!-- 	<div class = "row">
		<div class="col-md-10">

			<img class = "img-large" src="assets/img/bank.jpg" alt="image not available">

		</div>
 		<div class="clearfix"></div>
	<div> --}}
	<div class="row">
	    <form action="/" method="POST">
		    <div class="row">
		        <div class="col-md-3 col-md-offset-1">
					<strong> Select category: </strong><br><br>
		        </div>
		        <div class="col-md-2">

					<select name="category" style="min-width: 180px" required>
						<option selected="selected" disabled="disabled">Choose option</option>
							
						{{#each category}}
							<option value = "{{cat_id}}">{{description}}</option>
						{{/each}}

					</select>
				</div>
				<div class="col-md-2" class="indent1">
					<strong>Date spent:</strong>
				</div>
				<div class="col-md-2">
					<input type="date" name="date_spent" required>
				</div>
		    </div>
		    <div class="row">
		        <div class="col-md-2 col-md-offset-1">
					<strong> Amount spent: </strong><br><br>
		        </div>
		        <div class="col-md-2">
		        	<input type="text" name="amt_spent" required>

				</div>
{{!-- 				<div class="col-md-2" class="indent1">
					<strong>End date:</strong>

				</div>
				<div class="col-md-2">
					<input type="date" name="end_date" required>
				</div> --}}
		    </div>
			<div class="row">
				<div class="col-md-10">
					<center><button class="button" type="submit">Submit</button></center>
				</div>

			</div>
	    </form>
	<div>

{{!-- 	<div class="row">
	    <div class="col-md-10" id="spending-list">

	    	<h4>Spending List</h4>

	    </div>

	</div> --}}

</div>

