<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header #headfix">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LANCEL - Money Management</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a class="theme" href="/signin">Sign In</a></li>
                <li><a class="theme" href="/signup">Sign Up</a></li>
                <li><a class="theme" href="#">Budgets</a></li>
                <li><a class="theme" href="#">Expenditures</a></li>
                <li><a class="theme" href="#">Graphs</a></li>
                <li><a class="theme" href="/logout">Sign Out</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
	<div class = "row">
		<div class = "col-md-10">

			<h1>Money Management Helper</h1>

			<div class = "row">
				<img class = "img-large" src="/assets/img/bank.jpg" alt="image not available">
			</div>
			<div class="row">
				<h2>View Graphs</h2>
			</div>
		</div>
	

	</div>

	<div class="row">
	    <form method="GET" action="/budgets/view/list?_method=GET" class="button">
{{!-- 	    <form id="budgetView">
 --}}
		    <div class="row">
				<div class="col-md-2 col-md-offset-1">
					<strong>Start date:</strong>
				</div>
				<div class="col-md-2">
					<input type="date" name="start_date" id="start_date" required>
				</div>
			</div>
		    <div class="row spacer">
		    </div>
			<div class="row">
				<div class="col-md-2 col-md-offset-1">
					<strong>End date:</strong>
				</div>
				<div class="col-md-2">
					<input type="date" name="end_date" id="end_date" required>
				</div>
			</div>


			<div class="row">
				<div class="col-md-10">
					<center><button class="button" type="submit">Submit</button></center>
				</div>

			</div>
	    </form>
	<div>

	<div class="row">
	    <div class="col-md-5">

	    	<h4>Graph 1</h4>
	    </div>
	    <div class="col-md-5">
	    	<h4>Graph 2</h4>
		<div>

	</div>

</div>

