
   <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header #headfix">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LANCEL - Money Management</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="theme" href="/signin">Sign In</a></li>
                    <li><a class="theme" href="/signup">Sign Up</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Budgets<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/categories/budgetsCreate">Create Budget</a></li>
                            <li><a href="/budgets/view/setup">View Budget</a></li>
                        </ul>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenditures<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/categories/expendituresCreate">Enter Expenditures</a></li>
                            <li><a href="/expenditures/view/setup">View Expenditures</a></li>
                        </ul>
                    <li><a class="theme" href="/graphs/view/setup">Graphs</a></li>
                    <li><a class="theme" href="/logout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class = "container">
        <div class="parallax">
            <p class="quote">"If you do not know how to care for money,
                <br /> money will stay away from you."
                <br />- Robert T.Kiyosaki</p>
        </div>
        <!-- /.container-fluid -->
        <!-- cards -->
        <div id="smaller" class="parallax"><img class="img-full" src="/assets/img/Desktop_Traveler.jpg">
        </div>
     </div>           
        <nav class="navbar navbar-default">
            <nav class="copyright">
                <div class="container">
                    &copy; 2017 Copyright, All Rights Reserved
                    <a class="" href="#!">Privacy Policy</a>
                </div>
            </nav>
        </nav>
