<div class="container">
	<div class = "row">

		<h1>Money Management Helper Index</h1>
	</div>

	<div class = "row">
		<div class = "col-md-12">

			<img class = "img-large" src="assets/img/bank.jpg" alt="image not available">

		</div>
	
	<div>
	<div class="row">
	    <form action="/" method="POST">
		    <div class="row">
		        <div class="col-md-2">
					<strong> Select category: </strong><br><br>
		        </div>
		        <div class="col-md-2">

					<select name="category" style="min-width: 180px" required>
							
						{{#each category}}
							<option value = "{{cat_id}}">{{description}}</option>
						{{/each}}

					</select>
				</div>
				<div class="col-md-2" class="indent1">
					<strong>Start date:</strong>
				</div>
				<div class="col-md-2">
					<input type="date" name="start_date" required>
				</div>
		    </div>
		    <div class="row">
		        <div class="col-md-2">
					<strong> Enter budgeted amount: </strong><br><br>
		        </div>
		        <div class="col-md-2">
		        	<input type="text" name="amt_budgeted" required>

				</div>
				<div class="col-md-2" class="indent1">
					<strong>End date:</strong>

				</div>
				<div class="col-md-2">
					<input type="date" name="end_date" required>
				</div>
		    </div>
			<div class="row">
				<div class="col-md-8">
					<center><button class="button" type="submit">Submit</button></center>
				</div>

			</div>
	    </form>

    </div>
</div>





      <!-- Footer -->
      <footer class="page-footer blue-grey darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Cheyenne Web Developer</h5>
              <ul>
                <li class="grey-text text-lighten-4">PSD to HTML</li>
                <li class="grey-text text-lighten-4">Updates and Upgrades</li>
                <li class="grey-text text-lighten-4">UX/UI Design</li>
                <li class="grey-text text-lighten-4">Site Maintenance</li>
                <li class="grey-text text-lighten-4">Hosting</li>
              </ul>
            </div>
            <div class="col l3 espace offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Work</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright blue-grey darken-4">
          <div class="container">
          &copy; 2016 Copyright, All Rights Reserved
          <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
          </div>
        </div>
      </footer>