.indent1{
	margin-left: 50px;

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
/*  background: aqua;
*/}


.form-group {
  margin-bottom: 5px;
}

img{
	display: block;
	margin: auto;
	width: 20%;
}
h1{
	text-align: center;
}
h2{
  margin-top: 10px;
  text-align: center;
}

h4{
	text-align: center
}
.img-large{
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 10px;
}

.button{
  margin-top: 20px;
}
.spending-list{
  padding-top: 20px;

}