
.bo{
  background: #64ffda;
}
#green{
  background: green;
}

/*.try{
  background:pink;
}*/

body {
  /*min-height: 100vh;*/
  background:#880e4f;
}
.plese{
  background:green;
}

.page-footer{
  background:#546e7a;
}
.grey-text{
  color: :white;
}
.main-card {
  height: 80px;
}

.card { width:100%;
  overflow: auto;
}
.card-image {
  height: 20px;
}
.parallax-container{
  height:5%;
}

.parallax-container img { 
  height: 100px;
  width: 100%;
   }

.parallax-container {
  height: 30px;
}

#navbar{
  height: 100px;
}

.div.card-action{
  height: 53px;
  width: 300px;
}
#smaller{
  max-height: 50%;
}
.picture{
  height: 100px;
}
