
.indent1{
	margin-left: 50px;

}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}


.bo{
  background: #64ffda;
}
#green{
  background: green;
}

/*.try{
  background:pink;
}*/

body {
  /*min-height: 100vh;*/
  background:#F0E68C;
}
.plese{
  background:green;
}

.page-footer{
  background:#546e7a;
}
.grey-text{
  color: :white;
}
.main-card {
  height: 80px;
}

.card { width:100%;
  overflow: auto;
}
.card-image {
  height: 20px;
}
h1{
  text-align: center;
}
h2{
  margin-top: 10px;
  text-align: center;
}
h4{
  text-align: center;
}
.parallax-container{
  height:5%;
}

.parallax-container img { 
  height: 100px;
  width: 100%;
   }


.parallax-container {
  height: 30px;
}

.img-large{
  display: block;
  margin: auto;
  width: 30%;
  padding-bottom: 10px;
}

.button{
  margin-top: 20px;
}
.spending-list{
  padding-top: 20px;

}


#navbar{
  height: 100px;
}

.div.card-action{
  height: 53px;
  width: 300px;
}
#smaller{
  max-height: 50%;
}
.picture{
  height: 100px;
}
#radioBudgets{
  padding-top: 20px;
}

#budgetContainer{
  border: solid 1px black;
}

#errors{
  text-align: center;
  font-weight: bold;
  color: red;
}

.spacer{
  height: 20px;
}

.exp-header{
  padding-left: 50px;
}